.card {
    width: 100% !important;
    height: 500px;
    overflow-y: scroll;
}

.monsterTable {
    border: none !important;
    width: 80% !important;
    margin: auto !important;
    text-align: center !important;
}

.monsterTable td {
    margin: 0;
    padding: 0.25em 0 !important;
    border: none !important;
}

div.bar>.progress {
    right: auto !important;
    left: 50% !important;
}

.healthBar {
    display: flex;
}

div.healthBar>button {
    margin: 0 !important;
}

div.healthBar>div {
    margin: 0 !important;
    width: 100%;
    background-color: rgb(255, 60, 60) !important;
}

.ui.progress .bar {
    height: 100% !important;
}

.ui.progress[data-percent="0"] .bar {
    background: transparent;
}

.ui.progress[data-percent="0"] .bar .progress {
    color: rgba(0, 0, 0, 0.87);
}

.absRight {
    position: absolute;
    right: 0.25em;
}

.monsterMeta {
    display: inline-block;
}

.editArea {
    padding-top: 1em;
    margin: auto !important;
    width: 80%;
}

.hide {
    display: none;
}